<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container-table">
        <a href="/" class="voltar">← Voltar</a>
    <% if (processo === 0) { %>
        <h1>Doença não encontrada.</h1>
    <% } %>

    <% if (processo === 1) { %>
        <h1>Doença encontrada</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Patógeno</th>
                <th>Doença</th>
                <th>Sintomas</th>
            </tr>
        </thead>
        <tbody>
            <% result.forEach((disease) => { %>
                <tr>
                    <td><%= disease.id %></td>
                    <td><%= disease.patogeno %></td>
                    <td><%= disease.doença %></td>
                    <td><%= disease.sintomas %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <% } %>
    <% if (processo === 2) { %>
        <h1>Doença encontrada</h1>

    <table>
        <thead>
            <tr>
                <th>Nome Popular</th>
                <th>ID</th>
                <th>Patógeno</th>
                <th>Doença</th>
                <th>Sintomas</th>
            </tr>
        </thead>
        <tbody>
            <% result.forEach((disease) => { %>
                <tr>
                    <td><%= disease.nome_pop %></td>
                    <td><%= disease.id %></td>
                    <td><%= disease.patogeno %></td>
                    <td><%= disease.doença %></td>
                    <td><%= disease.sintomas %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <% } %>

    <% if (processo === 3) { %>


    <h1>Doença encontrada</h1>

    <table>
        <thead>
            <tr>
                <th>cid</th>
                <th>Nome tecnico</th>
                <th>Pontuacao</th>
            </tr>
        </thead>
        <tbody>
            <% result.forEach((disease) => { %>
                <tr>
                    <td><%= disease.id %></td>
                    <td><%= disease.nome %></td>
                    <td><%= disease.pontuacao %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>

    <div class="pagination">
        <% if (currentPage > 1) { %>
            <a href="/result?page=<%= currentPage - 1 %>&processo=<%=processo%>">Anterior</a>
        <% } %>

        <% for (let i = 1; i <= totalPages; i++) { %>
            <a href="/result?page=<%= i %>&processo=<%=processo%>" 
            class="<%= i == currentPage ? 'active' : '' %>">
            <%= i %>
            </a>
        <% } %>

        <% if (currentPage < totalPages) { %>
            <a href="/result?page=<%= currentPage + 1 %>&processo=<%=processo%>">Próxima</a>
        <% } %>
    </div>


    <% } %>







    </div>
</body>
</html>
